<h1>(This is the landing page for users who are not logged in)</h1>
<div class="page-container">
  <div class="row">
    <div class="column">
      <h1>About Us</h1>
      <p>Section to talk about our project and why you should sign up.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum diam in lectus aliquam, ac lobortis
        nisl ullamcorper. Aenean malesuada augue nec ipsum placerat facilisis. Phasellus a lacus non est pretium dictum
        at sodales ligula. Sed dignissim est sed eros pulvinar, non blandit velit varius. In id magna at est tincidunt
        semper. Ut rhoncus non arcu id malesuada. Donec non vehicula erat. Proin ut rutrum justo. Sed consequat finibus
        consectetur. Vivamus pharetra purus tortor, nec accumsan mi luctus vel. Duis tristique augue eget odio sodales
        dictum. Phasellus vulputate, justo vitae tempus laoreet, felis ligula feugiat erat, sit amet placerat nulla
        tortor at sem.

        Praesent finibus odio id dictum iaculis. Integer at fringilla eros. Duis scelerisque eros ut pellentesque
        lobortis. In hac habitasse platea dictumst. Quisque condimentum ultricies dolor. Pellentesque nunc diam, rhoncus
        a blandit at, tincidunt vel tortor. Pellentesque sed orci dignissim, imperdiet velit commodo, ultrices ex. Sed
        cursus, lorem elementum ultrices porta, nulla nisi rutrum ligula, et sagittis elit arcu nec leo. Donec sed diam
        id felis placerat bibendum. Ut id odio leo. Nam ultricies ex scelerisque, mollis urna quis, commodo lectus. Duis
        auctor venenatis accumsan.</p>
    </div>
    <div class="column">
      <!-- <h2>Sign Up and Registration</h2> -->
      <div class="form">
        <form>
          <h2>Login</h2>
          <div class="form-group">
            <label for="username">Username </label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password </label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
      <p>
      <div class="form">
        <form>
          <h2>Registration</h2>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="verifyPassword">Verify Password</label>
            <input type="password" id="verifyPassword" name="verifyPassword" required>
          </div>
          <div class="form-group">
            <button type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <nb-card>
  <nb-card-body>
    Test
  </nb-card-body>
</nb-card> -->

<!-- <nb-card>
  <nb-card-header>Basic form</nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" class="label">Email address</label>
        <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">Password</label>
        <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <nb-checkbox>Check me out</nb-checkbox>
      </div>
      <button type="submit" nbButton status="danger">Submit</button>
    </form>
  </nb-card-body>
</nb-card> -->