<!-- Basic layout / ideas -->

<h1>Users Page</h1>
<p>For Admin Purposes Only</p>

<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Create User
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-card>
        <nb-card-body>
          <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
              <label for="fname">First Name: </label>
              <input type="text" id="fname" [(ngModel)]="newUser.firstName" required nbInput placeholder="First Name">
            </div>

            <div class="form-group">
              <label for="lname">Last name: </label>
              <input type="text" id="lname" [(ngModel)]="newUser.lastName" required nbInput placeholder="Last Name">
            </div>

            <div class="form-group">
              <label for="dname">Display name: </label>
              <input type="text" id="dname" [(ngModel)]="newUser.userDisplayName" required nbInput placeholder="Display Name">
            </div>

            <div class="form-group">
              <label for="uname">Username: </label>
              <nb-form-field>
                <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
                <input type="text" id="uname" [(ngModel)]="newUser.userName" required nbInput placeholder="Username">
              </nb-form-field>
            </div>

            <div class="form-group">
              <label for="email">E-mail: </label>
              <input type="text" id="email" [(ngModel)]="newUser.email" required nbInput placeholder="E-Mail">
            </div>

            <div class="form-group">
              <label for="phone_number">Phone Number: </label>
              <input type="text" id="phone_number" [(ngModel)]="newUser.phoneNumber" required nbInput placeholder="Phone Number">
            </div>

            <button type="submit" nbButton outline status="info" [disabled]="!userForm.form.valid" style="margin-right: 10px">Submit</button>
            <button type="button" nbButton outline status="warning" (click)="newUserModel(); userForm.reset()">Clear</button>
          </form>
        </nb-card-body>
      </nb-card>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Switch User
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-card>
        <nb-card-body>

          <nb-list>
            <nb-list-item *ngFor="let user of users">
              <button nbButton style="float:right" status='info' (click)="switchUser(user?.userId)">Switch User</button> &nbsp;&nbsp;&nbsp; {{ user?.userDisplayName }}
            </nb-list-item>
          </nb-list>

        </nb-card-body>
      </nb-card>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
