<h1>
  Welcome, <ngx-home-name></ngx-home-name>
</h1>

<div class="row">
  <div class="col-md">
    <nb-card size="small">
      <nb-card-header>Quick Activity</nb-card-header>
      <ngx-create-activity></ngx-create-activity>
    </nb-card>
    <ngx-home-progress></ngx-home-progress>

  </div>

  <div class="col-md">

    <div class="col-md">
      <nb-card size="small">
        <nb-card-header>Activity Feed</nb-card-header>
        <ngx-activity-feed></ngx-activity-feed>
      </nb-card>
    </div>

    <div class="col-md">
      <nb-card size="small">
        <nb-card-header>Groups</nb-card-header>
        <ngx-groups-list [public]="false"></ngx-groups-list>
      </nb-card>
    </div>

    <div class="col-md">
      <nb-card size="small">
        <nb-card-header>Activity Suggestions For You</nb-card-header>
        <nb-card-body>
          <p>The most time efficent activites are:</p>
          <p>Running (10 Points per hour!)</p>
          <p>Jogging (8 Points per hour!)</p>

          The most popular activites are:<br><br>
          <p *ngFor="let items of popular">
            {{ items }}
          </p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
