<!-- Basic layout / ideas -->

<h1>
  Welcome, <ngx-home-name></ngx-home-name>
</h1>

<div class="row">
  <div class="col-md">
    <nb-card size="small">
      <nb-card-header>Quick Activity</nb-card-header>
      <ngx-home-input></ngx-home-input>
    </nb-card>
    <nb-card size="small">
      <nb-card-header>Goal Progress</nb-card-header>
      <ngx-home-progress></ngx-home-progress>
    </nb-card>
    <nb-card size="small">
      <nb-card-header>Groups</nb-card-header>
      <ngx-home-groups></ngx-home-groups>
    </nb-card>
  </div>

  <div class="col-md">
    <div class="col-md">
      <nb-card size="small">
        <nb-card-header>Activity Feed</nb-card-header>
        <ngx-home-activity></ngx-home-activity>
      </nb-card>
    </div>
    <div class="col-md">
      <nb-card size="small">
        <nb-card-header>To meet your goal, try:</nb-card-header>
        <nb-list>
          <nb-list-item>
            <p>Running for 15 minutes + Bench Press for 4x4 at 75%</p>
          </nb-list-item>
          <nb-list-item>
            <p>Back Squat for 4x6 at 75% + Stair Master for 10 minutes</p>
          </nb-list-item>
          <nb-list-item>
            <p>Preacher Curls 4x10 at 50% + Sit-ups for 5x10</p>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
</div>

<!-- <p>Mockup Below here ----------------------------</p> -->
<!-- 
<h1>
  Welcome, Jason
</h1>

<div class="row">
  <div class="col-md">
    <nb-card size="small">
      <nb-card-header>Point Entry</nb-card-header>
      <nb-card-body>
        (use NbAutocompleteDirective ?)
      </nb-card-body>
    </nb-card>
    <nb-card size="small">
      <nb-card-header>Goal Progress</nb-card-header>
      <nb-card-body>
        Your progress for October is 50 out of 100 points!
        <p></p>
        <nb-progress-bar [value]="50" status="success"></nb-progress-bar>
      </nb-card-body>

    </nb-card>
    <nb-card size="small">
      <nb-card-header>Groups</nb-card-header>
      <nb-card-body>
        <nb-card-body>
          <nb-list-item>
            MSU Gold Friends - 4th Place
          </nb-list-item>
          <nb-list-item>
            Buddies - 3rd Place
          </nb-list-item>
          <nb-list-item>
            Phi Delta Kappa - 9th Place
          </nb-list-item>
        </nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md">
    <div class="col-md">
      <nb-card size="small">
        <nb-card-header>Activity Feed</nb-card-header>
        <nb-card-body>
          Running - 60 minutes - 20 Points - 2 Days ago
        </nb-card-body>
        <nb-card-body>
          Running - 45 minutes - 15 Points - 3 Days ago
        </nb-card-body>
        <nb-card-body>
          Weightlifting - 60 minutes - 15 Points - 6 Days ago
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md">
      <nb-card size="small">
        <nb-card-header>Recomendations</nb-card-header>
      </nb-card>
    </div>
  </div>
</div> -->
