<!-- Basic layout / ideas -->

  <h3>Leaderboards</h3>

<!-- Use *ngFor to iterate over leaderboardEntries if needed -->
<!-- *ngFor="let leaderboard of leaderboardEntries; let i=index"
  *ngFor"let g of groups" -->
<div class="card-row">
  <div class="card-col" *ngFor="let g of groups; let i=index">
    <nb-card [size]="medium">
      <nb-card-header>{{g.groupName}}</nb-card-header>
      <nb-card-body>
        <ngx-create-leaderboard [gId] ="g.groupId" ></ngx-create-leaderboard>
      </nb-card-body>
    </nb-card>
  </div>
</div>






