<nb-card accent="info" [nbSpinner]="loading"
             nbSpinnerStatus="info"
             nbSpinnerSize="large"
             nbSpinnerMessage="">
  <nb-card-header>Welcome to {{group?.groupName}}! <button *ngIf="!userInGroup" nbButton style="float:right" status='info' (click)="joinGroup()">Join Group</button></nb-card-header>

  <div class="row">
    <div class="col-md">
      <nb-card class="group-card">
        <nb-card-header>Group Members:</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let user of users">
            <nb-user shape="semi-round" [name]="user?.userDisplayName" [title]="user?.userName">
            </nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>

    <div class="col-md">
      <nb-card class="group-card">
        <nb-card-header>Group Leaderboard:</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let entry of leaderboardEntries">
            <nb-user shape="semi-round" [name]="entry?.userName" [title]="entry?.score">
            </nb-user>
            <div class="place-marker">
              <nb-icon icon="award-outline" status="warning"></nb-icon>{{ entry?.position | ordinalSuffix }} Place
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
</nb-card>
