<h1>Home page goes here</h1>

<p>Setup a progress module...</p>
<p>Setup a leaderboard module...</p>

<div class="page-container">
  <div class="row">
    <div class="column">
      <p>Progress Spot</p>
      <p>Congradulations you have achieved:</p>
      <p>63/100 Points in the past 7 days!</p>
      [🟩🟩🟩🟩🟩🟩⬜⬜⬜⬜]
    </div>
    <div class="column">
      <p>Leaderboard Spot</p>
      <p>You are 7 points from first place in MSU Gold Friends!</p>
      <div>
        <p>Group: MSU Golf Friends</p>
        <ol>
          <li>Jack Scar 70Pts</li>
          <li><b>Nick Jones 63Pts</b></li>
          <li>Terry Marloe 56Pts</li>
          <li>Mallory Krutke 42Pts</li>
          <li>Steve Kar 41Pts</li>
        </ol>
        <p>Group: MSU Track Team</p>
        <ol>
          <li>Alex Bell 110Pts</li>
          <li>Berry Marloe 95Pts</li>
          <li>Jessica Krutke 81Pts</li>
          <li><b>Nick Jones 63Pts</b></li>
          <li>Steve Kar 41Pts</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- This was the default code from e-commerce.component.html
     I copy pasted the files from e-commerce to here (home page)
     then changed the names since I was unsure how to add pages otherwise -->

<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->