page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}