<!-- Basic layout / ideas -->

<h1>
  Welcome, [User]
</h1>

<ngx-groups-create></ngx-groups-create>

<nb-card>
  <nb-card-header>Groups List (Mock Data)</nb-card-header>
  <ngx-groups-view></ngx-groups-view>
</nb-card>

<!-- 
<nb-card size="medium">
  <nb-card-header>
    Example Group
    <button nbButton style="float:right" status='info'>View Group</button>
  </nb-card-header>
  <nb-card-body>
    <nb-list-item>
      Bob Sert - 1st Place
    </nb-list-item>
    <nb-list-item>
      Jake Perry - 2nd Place
    </nb-list-item>
    <nb-list-item>
      Steve Krut - 3rd Place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
  </nb-card-body>
</nb-card> -->