<!-- Basic layout / ideas -->

<h1>
  Welcome, [User]
</h1>

<p>Static list or order by ranking? Note group leader?</p>

<nb-card size="medium">
  <nb-card-header>
    Example Group
    <button nbButton class="right" status='info'>View Group</button>
  </nb-card-header>
  <nb-card-body>
    <nb-list-item>
      Bob Sert - 1st Place
    </nb-list-item>
    <nb-list-item>
      Jake Perry - 2nd Place
    </nb-list-item>
    <nb-list-item>
      Steve Krut - 3rd Place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
    <nb-list-item>
      John Doe - another place
    </nb-list-item>
  </nb-card-body>
</nb-card>