<nb-layout>
  <nb-layout-header><h3>{{user?.firstName }} {{users?.lastName }}'s Profile</h3></nb-layout-header>
  <h3>{{user?.firstName}} {{user?.lastName}}'s Profile</h3>
  <nb-layout-header><h3>{{user?.firstName }} {{user?.lastName }}'s Profile</h3></nb-layout-header>
  <h3>{{use?.firstName}} {{user?.lastName}}'s Profile</h3>
  <nb-layout-column>
    <!-- Contact Info -->
    <nb-card size="tiny">
      <nb-card-header>
        Contact information
      </nb-card-header>
      <nb-list>
        <nb-list-item>
          Email: {{user?.email}}
         <button nbButton size ="tiny"><nb-icon icon="edit-2-outline"></nb-icon></button>
        </nb-list-item>
        <nb-list-item>
          Phone number: {{user?.phoneNumber}}
          <button nbButton size="tiny"><nb-icon icon="edit-2-outline"></nb-icon></button>
        </nb-list-item>
      </nb-list>
    </nb-card>
    <!-- Biography Card -->
   <ProfileBioComponent [name] = {{ user?.displayName }} [bio] ="{{ user?.Bio }}"></ProfileBioComponent>
    
  </nb-layout-column>
     
  <!-- Right Column -->
  <nb-layout-column>
    <!-- Group Membership card -->
    <!--<nb-card>
      <nb-card-header>
        Group Membership
        <button nbButton size=".75rem" ><nb-icon icon="plus-outline"></nb-icon></button>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let group of users[0]?.userGroupMemberships">
            {{group}}
          </nb-list-item>

        </nb-list>
      </nb-card-body>
    </nb-card>-->
    <nb-card>
      <nb-card-header>
        Stats
      </nb-card-header>
      <nb-list>
        <nb-list-item>
          Workouts Completed: 7
        </nb-list-item>
        <nb-list-item>
          Miles Run: 100
        </nb-list-item>
        <nb-list-item>
          Heaviest Lift:225
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer></nb-layout-footer>

</nb-layout>

  <!--<p>{{user?.userId}}</p>
  <p>{{user?.displayName}}</p>
  <p>{{user?.userName}}</p>
  <p>{{user?.password}}</p>
  <p>{{user?.firstName}}</p>
  <p>{{user?.lastName}}</p>
  <p>{{user?.email}}</p>
  <p>{{user?.phoneNumber}}</p>
  <p>{{user?.leaderBoards}}</p>
  <p>{{user?.userActivities}}</p>
  <p>{{user?.userGroupMemberships}}</p>
  <p>{{user?.userSettings}}</p>
  <div>End of User {{i}}</div>
  <br />-->
